@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&display=swap');

html {
    background-color: #353A42;
    background-size: 100%;
}

body{
    margin: 0;
}

header {
    align-items: center;
    background-color: #222028;
    background-image: url(../img/ingredients-1920w.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: #fff;
	text-align: left;
    padding: 2em 2em;
} 

.head_content {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

main {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    margin-top: 0.5em;
}

h2 {
    letter-spacing: 0.1em;
    font-family: 'Fira Sans', sans-serif;
    margin: 0.5em;
    padding-top: 0.5em;
    padding-left: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.8em;
    line-height: 1px;
    padding: 0.2em 0;
    margin: 1.5em 0;
    flex-direction: row;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    font-size: 0.9em;
    padding: 1em;
    margin: 0;
}

footer {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

/* parent */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    min-height: 100%;
}

.headerp {
    padding: 0;
}

/* first child */
.nav {
    color: #FFBC48;
    background-color: #222028;
    background-position: center;
    list-style-type: none;
    font-family: 'Fira Sans', sans-serif;
    margin-top: -2em;
    grid-column-start: 2;
    grid-column-end: 4;
}

.navflex {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* second child */
.left {
    background-color: #FFBC48;
    margin: 0;
    margin-top: -2em;
    padding: 1em -4em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/4;
}

/* third child */
.right {
    background-color: #fff;
    padding: 1em 1em;
    grid-column-start: 2;
    grid-column-end: 4;
}

.footer {
    color:white;
    background-color: #222028;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.85em;
    list-style-type: none;
    padding: 2em;
    margin: 0;
    line-height: 2em;
}

img {
    width: auto;
    max-width: 100%;
}

figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;
}

.crop {
    width: 100%;
    height: 12em;
    object-fit: cover;
}

.ul {
    line-height: 0;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    display: flex;
}

ol {
    font-family: 'Fira Sans', sans-serif;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0.6em;
    margin-bottom: 0;
}

.navlist {
    line-height: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    display: flex;
}

a {
    color: #FFBC48;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.style {
    margin: 2em 0;
    text-transform: uppercase;
}

.bullet {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: -3em;
    padding-top: 0.5em;
    margin-left: 1em;
    padding-bottom: 0;
}

.highlight {
    background-color:#FFBC48;
    padding: 0 0.3em;
    color: black;
    font-size: 0.9em;
}

table, td, tr, th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    border: solid 1px black;
    border-collapse:collapse;
    width: 95%;
    text-align: center;
    table-layout: fixed;
    line-height: 2em;
    margin: 1em;
}

caption {
    text-align: left;
}

.baking {
    margin: 1em 0;
    background-color: #FFBC48;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    padding: 0 0.3em;
    width: auto;
    max-width: 3.6em;
    line-height: 1.5em;
}

.ingredients {
    padding: 0 1em;
    margin-top: 1em;
    margin-bottom: 0;
}

.mode {
    display:none;
}

.toggle {
	background-color:#fff;
	display: block;
    width: 6em;
    border-radius: 1em;
    margin: 1em 2.2em;
    margin-bottom: 0.5em;
    box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.3);
    color:black;
}

.switch {
    background-color:#FFBC48;
	height: 1.2em;
    width: 3em;
    border: 2px solid;
    border-radius: 1em;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
}

input:checked + .switch {
    transform: translateX(90%);
  }

.switch:before {
    content:"grams";
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.7em;
    padding-left: 0.7em;
 }

.switch:after {
    content:"lbs,oz";
    font-family: 'Fira Sans', sans-serif;
    color:grey;
    font-size: 0.7em;
    padding-left: 1.5em;
 }

input:checked + .switch:before {
    padding-left: 0.85em;
    content:"lbs,oz"
}

input:checked + .switch:after {
    content:"grams";
    position: absolute;
    padding-top: 0.4em;
    right: 3.47rem;
}

.quote {
    border-left: solid #FFBC48;
    margin: 0 1em;
}

.spacing {
    padding-top: 0;
    margin-top: 0;
}

.icon {
    float: right;
    text-align: center;
    vertical-align: middle;
    padding-left: 0.5em;
    color: #FFBC48;
}

/* on screens less than 650 px*/

@media screen and (max-width: 650px) {

    body {
        max-width: 25em;
        min-width: 25em;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 0.8em;
        line-height: 1px;
        padding: 0.2em 0.5em;
        margin: 1.5em 0.3em;
        flex-direction: row;
    }

    .header {
        display: flow-root;
        background-color: #222028;
        background-image: url(../img/ingredients-480w.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        color: #fff;
        padding: 3em 1em;
        max-width: 25em;
        font-family: Georgia, 'Times New Roman', Times, serif;  
    }

    .nav {
        color: #FFBC48;
        background-color: #222028;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        font-family: 'Fira Sans', sans-serif;
        width: auto;
        max-width: 25em;
        padding: 0.5em 0.5em;
        margin: 0 -1em;
    }

    .container {
        display: flow-root;
        box-sizing: border-box;
        background-color: #fff;
        width: auto;
        max-width: 26em;
        padding: 0 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .right {
        background-color: #fff;
        margin: 0; 
    }

    .left {
        flex-basis: 30%;
        margin: 0;
        padding: 0.5em 1em;
        background-color: white;
    }

    .navflex {
        display: block;
        padding: 0 1.5em;
    }

    h2 {
        margin: 0;
    }

    p {
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    footer {
        max-width: 25em;
        min-width: 25em;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .ul {
        display: block;
        padding: 0.5em 0;
        margin: 0 -0.3em;
        list-style-type: none;
        text-align: left;
    }

    .navlist {
        display: block;
        padding: 0;
        margin: 0 -0.3em;
        list-style-type: none;
        text-align: left;
    }

    li {
        margin-left: -0.3em;
    }

    ol {
        padding-bottom: 0;
    }

    .bullet {
        padding-left: 0.5em;
    }

    .ingredients {
        padding: 0;
    }

    .style {
        margin-top: 0;
        margin-bottom: -1em;
    }

    .baking {
        margin-top: 0;
    }

    .toggle {
        margin: 1em 0;
        margin-bottom: 0.5em;
        padding-right: 3em;
        width: 3em;
    }

    input:checked + .switch:after {
        position: absolute;
        content:"grams";
        padding-top: 0.32em;
        right: 3.47rem;
    }

    .headerp {
        padding: 0.5em 0;
    }
}
