@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&display=swap');

html {
    background-color: #353A42;
    background-size: cover;
}

.layout {
    display: flow-root;
    box-sizing: border-box;
    background-color: #fff;
    width: auto;
    max-width: 26em;
    padding: 0 1em;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flow-root;
    background-color: #222028;
    background-image: url(../img/ingredients-480w.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: #fff;
    padding: 0 1em;
    margin: 0 -1em;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    margin-top: 0.5em;
}

h2 {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-family: 'Fira Sans', sans-serif;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.8em;
    line-height: 0.5em;
    padding: 0.2em 0;
    margin: 1.5em 0;
}

.style {
    margin: 2em 0;
}

body {
    margin: 0;
}

.baking {
    margin: 2em 0;
    background-color: #FFBC48;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    padding: 0 0.3em;
    width: auto;
    max-width: 3.6em;
    line-height: 1.5em;
}

.nav {
    color: #FFBC48;
    background-color: #222028;
    background-size: cover;
    background-position: center;
    display: flow-root;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    line-height: 3em;
    width: auto;
    max-width: 26em;
    padding: 0.5em 1em;
    margin: 0 -1em;
}

img {
    width: auto;
    max-width: 100%;
}

.crop {
    width: 100%;
    height: 12em;
    object-fit: cover;
}

figcaption {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;
}

ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    font-size: 0.9em;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    font-size: 0.9em;
}

.quote {
    border-left: solid #FFBC48;
    margin: 0 1em;
}

ol {
    font-family: 'Fira Sans', sans-serif;
    padding-left: 1em;
}

a {
    color: #FFBC48;
}

.highlight {
    background-color:#FFBC48;
    padding: 0 0.3em;
    color: black;
    font-size: 0.9em;
}

table, td, tr, th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    border: solid 1px black;
    border-collapse:collapse;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    line-height: 2em;
}

caption {
    text-align: left;
}

.footer {
    color: #fff;
    background-color: #222028;
    display: flow-root;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.85em;
    line-height: 2em;
    list-style-type: none;
    width: auto;
    max-width: 29em;
    padding: 2.5em 1em;
    margin: 0 -1.2em;
}



